/.vs
/HelloWorld/obj
/HelloWorld/bin
/HelloWorld.Domain/bin
/HelloWorld.Domain/obj
/HelloWorld.Infrastructure/obj
/HelloWorld.Infrastructure/bin
/HelloWorld.V3.Domain/obj
/HelloWorld.V3.Domain/bin
/HelloWorld.V3.Infrastructure/obj
/HelloWorld.V3.Infrastructure/bin
/HelloWorld.V4.Read.Domain/obj
/HelloWorld.V4.Read.Domain/bin
/HelloWorld.V4.Read.Infrastructure/obj
/HelloWorld.V4.Read.Infrastructure/bin
/HelloWorld.V4.Web/App_Data
/HelloWorld.V4.Web/bin
/HelloWorld.V4.Web/obj
/HelloWorld.V4.Web.Read/App_Data
/HelloWorld.V4.Web.Read/bin
/HelloWorld.V4.Web.Read/obj
/HelloWorld.V4.Web.Read.SDK/bin
/HelloWorld.V4.Web.Read.SDK/obj
/HelloWorld.V4.Web.Write/App_Data
/HelloWorld.V4.Web.Write/bin
/HelloWorld.V4.Web.Write/obj
/HelloWorld-V2/App_Data
/HelloWorld-V2/bin
/HelloWorld-V2/obj
/HelloWorld-V3/App_Data
/HelloWorld-V3/bin
/HelloWorld-V3/obj
