@{
    ViewBag.Title = "Index";
}

@model  List<HelloWorld.V4.Web.Models.HelloWorldViewModel>


<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Message</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Message</td>
                </tr>
            }
        </tbody>
    </table>

</div>